@using DISS_2.BackEnd
@using DISS_2.BackEnd.Core
@using DISS_2.BackEnd.Statistics

<div class="col-12 p-0 ">
  <div class="card rounded-3 bg-white  p-4">
    <h3 class="mb-2">Statistics</h3>
    @if (Statistics.Count > 0)
    {
      <table class="table table-dark custom-rounded m-0">
        <thead class="table-dark">
        <tr>
          <th scope="col">Type</th>
          <th scope="col">Name</th>
          <th scope="col">Mean</th>
          <th scope="col">Lower IS (95%)</th>
          <th scope="col">Upper IS (95%)</th>
          <th scope="col">Count</th>
          @if (Config.PrintInSecondsAlso)
          {
            <th scope="col">Mean (sec)</th>
            <th scope="col">Lower IS</th>
            <th scope="col">Upper IS</th>
          }
        </tr>
        </thead>
        <tbody class="table-dark">
        @foreach (Statistics statistic in Statistics)
        {
          <tr>
            <td>@statistic.GetTypeString()</td>
            <td>@statistic.Name</td>

            @if (statistic.UseTimeFormat)
            {
              <td>@(TimeHandler.ToReadableTime(statistic.CalcMean()))</td>
              <td>@(TimeHandler.ToReadableTime(statistic.CalcLowerIS()))</td>
              <td>@(TimeHandler.ToReadableTime(statistic.CalcUpperIS()))</td>
            }
            else
            {
              <td>@statistic.CalcMean().ToString(Config.StatisticFloatFormat)</td>
              <td>@statistic.CalcLowerIS().ToString(Config.StatisticFloatFormat)</td>
              <td>@statistic.CalcUpperIS().ToString(Config.StatisticFloatFormat)</td>
            }
            <td>@statistic.Count</td>
            @if (PrintInSecondsAlso)
            {
              <td>@statistic.CalcMean().ToString(Config.StatisticFloatFormat)</td>
              <td>@statistic.CalcLowerIS().ToString(Config.StatisticFloatFormat)</td>
              <td>@statistic.CalcUpperIS().ToString(Config.StatisticFloatFormat)</td>
            }
          </tr>
        }
        </tbody>
      </table>
    }
    else
    {
      <h4>No statistics created.</h4>
    }
  </div>
</div>

@code {
  [Parameter, EditorRequired] public List<Statistics> Statistics { get; set; } = new();

  private bool PrintInSecondsAlso { get; set; } = true;
}
